@import url('https://fonts.googleapis.com/css?family=Poppins');
:root{
    --pink-color: rgb(112, 185, 189);
    --blue-color: #1DA1F2;
}
body{
    height: 100vh;
    background: #26136E;
    margin: 0;
    display: grid;
    font-family: 'Poppins';
    color: white;
    overflow-x: hidden;
}


.section-title{
  font-size: 3em;
  margin-top: 85px;
}
#home-svg{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
    overflow: visible;
    height: 100vh;
}

.op-card{
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgba(29, 161, 242, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 800px;
}

.op-card-small{
    background: rgba(29, 161, 242, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
}

.bold{
    font-weight: bold;
}

.pink-text{
    color: var(--pink-color);
}

.blue-text{
    color: var(--blue-color);
}

.section-header{
    padding-top: 50px;
}

/* Navigation Bar */
.navbar-toggler:focus {
    outline: none !important;
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    
    background: rgba(29, 161, 242, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    margin: 10px;
    border-radius: 10px;
}

.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: white !important;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: rgb(145, 145, 145) !important;
    background: transparent !important;
}

.navbar .nav-link {
    font-size: 18px;
    padding: 0;
}

.navbar .nav-item.open>a {
    background: none !important;
}

/* Cool Link */
.cool-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

@media only screen and (min-width: 572px) {
    #home-svg{
        position: absolute;
        top: 60px;
        left: 0;
        z-index: -1;
        overflow: visible;
        height: auto;
    }
    .container{
        text-align: center;
        padding-top: 8em;
        height: 100vh;
        overflow: initial;
        position: static;
    }
}

/* Landing Page Style */
#landing{
    padding-top: 30vh;
    height: 100vh;
}

#signature-image{
    width: 50%;
    min-width: 350px;
}

#home-text{
    font-weight: normal;
    letter-spacing: 0.2em;
    font-size:calc(5px + 0.8vw);
    margin-top: -3%;
}

.down-arrows{
    color: white;
    font-size: 4rem;
}
.down-arrows:hover{
    color: rgb(192, 192, 192);
    font-size: 4rem;
}

@keyframes pop {
    0% { transform: translate(20%, 0%)  }
    40% { transform: translate(20%, -20%) scale(1.1, 1.1); }
    100% { transform: translate(20%, 0%)  }
}

.down-arrows {
    animation: pop 1.5s infinite;
}

/* About Me */
#aboutMe{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 10vh;
    text-align: center;
}

#aboutMe p{
    margin-bottom: 0;
}

#headShot{
    width: 70%;
}

mark{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.4);
}

.skill-icon{
    width: 30px;
}

/* Experience Style */
.dark {
  background: #110f16;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(255, 255, 255, 0.66);
  border-radius: 10px;
  margin: 0 auto 3rem auto;
  position: relative;
  color: #ffffff;
  width: 85%;
  max-width: 1180px;
}
.postcard.dark {
  background-color: #18151f;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  /* max-height: 180px; */
  width: 100%;
  object-fit: cover;
  position: relative;
  padding: 40px;
  border-radius: 50px;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  height: 100%;
}
.postcard .postcard__tagbox {
  flex-flow: row wrap;
  font-size: 16px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.tag-one{
  margin-left: 0px !important;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 4.5px 10px;
  margin: 5px 5px 5px 5px;
  cursor: default;
  user-select: none;
  transition: background-color 0.1s;
  background: rgba(255, 255, 255, 0.2);
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}


@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
    width: 75%;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    display: flex;
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 400px;
    max-height: 100%;
  }
  .postcard .postcard__text {
    width: 100%;
  }
  .postcard .postcard__text-left {
    padding: 3.4rem 0 3.4rem 3.4rem;
  }
  .postcard .postcard__text-right {
    padding: 3.4rem 3.4rem 3.4rem 0;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  /* .postcard:hover .postcard__img {
    transform: scale(1.03);
  } */
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  /* .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  } */
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  /* .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  } */

  /* .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  } */
}
/* COLORS */
/* .postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
} */

/* .green .postcard__title:hover {
  color: #009dff;
} */

.green .postcard__bar {
  background-color: #009dff;
}

.green::before {
  background: linear-gradient(209.21deg, rgb(22, 155, 173) 13.57%, rgb(0, 54, 135) 98.38%);
}

.green:nth-child(2n)::before {
  background: linear-gradient(209.21deg, rgb(22, 155, 173) 13.57%, rgb(0, 54, 135) 98.38%);
}

/* .postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
} */

/* .blue .postcard__title:hover {
  color: #009dff;
} */

.blue .postcard__bar {
  background-color: #009dff;
}

.blue::before {
  background: linear-gradient(209.21deg, rgb(0, 6, 149) 13.57%, rgb(116, 69, 154) 98.38%);
}

.blue:nth-child(2n)::before {
  background: linear-gradient(209.21deg, rgb(0, 6, 149) 13.57%, rgb(116, 69, 154) 98.38%);
}

/* .postcard .postcard__tagbox .red.play:hover {
  background: #6140d6;
} */

/* .red .postcard__title:hover {
  color: #009dff;
} */

.red .postcard__bar {
  background-color: #009dff;
}

.red::before {
  background: linear-gradient(09.21deg, rgb(87, 15, 141) 13.57%, rgb(243, 91, 160) 98.38%);
}

.red:nth-child(2n)::before {
  background: linear-gradient(09.21deg, rgb(87, 15, 141) 13.57%, rgb(243, 91, 160) 98.38%);
}

/* .postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
} */

/* .yellow .postcard__title:hover {
  color: #bdbb49;
} */

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background: linear-gradient(209.21deg, rgb(22, 155, 173) 13.57%, rgb(0, 54, 135) 98.38%);
  }

  .green:nth-child(2n)::before {
    background: linear-gradient(209.21deg, rgb(22, 155, 173) 13.57%, rgb(0, 54, 135) 98.38%);
  }

  .blue::before {
    background: linear-gradient(209.21deg, rgb(26, 32, 209) 13.57%, rgb(135, 74, 185) 98.38%);
  }

  .blue:nth-child(2n)::before {
    background: linear-gradient(209.21deg, rgb(26, 32, 209) 13.57%, rgb(135, 74, 185) 98.38%);
  }

  .red::before {
    background: linear-gradient(09.21deg, rgb(87, 15, 141) 13.57%, rgb(243, 91, 160) 98.38%);
  }

  .red:nth-child(2n)::before {
    background: linear-gradient(09.21deg, rgb(87, 15, 141) 13.57%, rgb(243, 91, 160) 98.38%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}



/* Contact  Me */
.contact div{
  width: 50%;
  min-height: 30vh;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 40px;
}

.social-menu h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-menu ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  margin-top: 30px;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover {
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
/* background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  ); */
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #000000;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #0077B5;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #FF0000;
}
.social-menu ul li a:hover > .fa{
  color: white;
}

/* Loading Screen CSS */
 svg .svg-elem-1 {
  stroke-dashoffset: 6189.1689453125px;
  stroke-dasharray: 6189.1689453125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-in-out 0s, fill 1s ease-in-out 1.2s;
          transition: stroke-dashoffset 1.5s ease-in-out 0s, fill 1s ease-in-out 1.2s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-2 {
  stroke-dashoffset: 746.3804321289062px;
  stroke-dasharray: 746.3804321289062px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-in-out 0.12s, fill 1s ease-in-out 1.2s;
          transition: stroke-dashoffset 1.5s ease-in-out 0.12s, fill 1s ease-in-out 1.2s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(38, 19, 110);
}

.loading-screen{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #26136E;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.iconify {
  width: 24px;
  height: 24px;
  color: white;
}
.ts-icon{
  width: 20px;
  height: 20px;
}
.aws-icon{
  width: 26px;
  height: 26px;
}
.js-icon{width: 26px; height: 26px;}
.rails-icon{width: 30px; height: 30px;}
.numpy-icon{width: 22px; height: 22px;}
.plot-icon{width: 22px; height: 22px;}

.quote-text{
  font-size: 2rem;
  font-weight: bolder;
  opacity: 90%;
  background: -webkit-linear-gradient(0deg, #00DBDE 0%, #FC00FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quote-div{
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 769px) {
  .quote-text{
    font-size: 3rem;
  }
  .quote-div{
    margin-left: 2%;
    margin-right: 2%;
  }
}